---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import Landing from "../components/Landing";
import Footer from '../components/Footer'
---

<Layout>
  <main>
    <Header />
    <Landing />
    <Footer/>
  </main>
</Layout>
