---
import Header from "../components/Header";
import Footer from "../components/Footer";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Site to showcase my projects" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-no-background.svg" />
    <title>Renier Meintjies</title>
  </head>
  <body>
    <div>
      <Header client:load />
      <slot />
      <Footer client:visible />
    </div>
  </body>
</html>
